# Database
DB_USER=YOUR_DB_USER_HERE
DB_PASSWORD=YOUR_DB_PASSWORD_HERE
DB_NAME=YOUR_DB_NAME_HERE

# API and Tokens
KDRIVE_TOKEN=YOUR_KDRIVE_TOKEN_HERE
KDRIVE_DRIVE_ID=YOUR_KDRIVE_DRIVE_ID_HERE
TELEGRAM_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE
OPENROUTER_API_KEY=YOUR_OPENROUTER_API_KEY_HERE
LLM_MODEL=YOUR_LLM_MODEL_HERE
CALENDAR_PASSWORD=YOUR_CALENDAR_PASSWORD_HERE
CALENDAR_USERNAME=YOUR_CALENDAR_USERNAME_HERE
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE_NAME
INFOMANIAK_PRODUCT_ID=YOUR_INFOMANIAK_PRODUCT_ID_HERE
INFOMANIAK_API_KEY=YOUR_INFOMANIAK_API_KEY_HERE

# TELEGRAM IDS
DOCTOR_1_TELEGRAM_ID=YOUR_DOCTOR_1_TELEGRAM_ID_HERE
PATIENT_1_TELEGRAM_ID=YOUR_PATIENT_1_TELEGRAM_ID_HERE
